@font-face {
    font-family: My font;
    src: url(font/Poppins-Regular.ttf);
}

body {
    font-family: My font;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.btn1 {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #0056b3;
}

.btn:hover {
    background-color: #0056b3;
}




@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-container {
        width: 45%;
    }
}